<div class="task-section">
  <div class="task-section__left">

    <div class="wrap">
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">タスク内容</a></li>
        <li><a href="#tab2" class="">モンスター</a></li>
      </ul>

      <div id="tab-contents">
        <div id="tab1" class="tab">
          <div class="task-unit">
            <div class="task-unit__items">
              <div class="task-unit__item--genre"><%= task.genre.name %></div>
              <div class="task-unit__item--date">予定：<%= task.due_date.strftime("%m月%d日 %H:%M") %></div>
              <% if task.progress != "完了" %>
                <div class="task-unit__item"><%= link_to "編集", edit_task_path(task), class: "task-unit__btn" %></div>
              <% end %>
            </div>
            <div class="task-unit__items">
              <div class="task-unit__item"><span>作成者</span><%= attachment_image_tag task.creator, :profile_image, fallback: 'noimage-760x460.png'%><%= task.creator.name %></div>
            </div>
            <div class="task-unit__items">
              <% if task.progress == "完了" %>
                <div class="task-unit__item"><span>実施者</span><%= attachment_image_tag task.executor, :profile_image, fallback: 'noimage-760x460.png'%><%= task.executor.name %></div>
                <div class="task-unit__item">（<%= task.finish_date.strftime("%m月%d日 %H:%M") %>）</div>
              <% end %>
            </div>

            <div class="task-unit__tags">
              <div class="task-unit__tags__tag-area">
                <% task.tags.each do |tag| %>
                  <span class="task-unit__tags__item"><%= tag.name %></span>
                <% end %>
              </div>
            </div>
            <div class="task-unit__body"><%= task.body %></div>
          </div>
        </div>

        <div id="tab2" class="tab">
          <div class="task-monster">
            <% if task.monster != nil %>
              <div class="task-monster__visual-area">
                <%= attachment_image_tag task.monster, :image, fallback: 'noimage-760x460.png', class: "task-monster__visual-area--img" %>
              </div>
              <% if task.progress == "完了" %>
                <span class="task-monster__mark">QUEST<br>CLEARED</span>
              <% end %>
              <div class="task-monster__heading">
                <span class="task-monster__heading--large"><%= task.monster.name %></span>
                <span>があらわれた！</span>
              </div>
              <div class="task-monster__text">
                <%= task.monster.memo %>
              </div>
              <div class="task-monster__lead">
                <p>獲得予想経験値: <%= task.monster.genre_id == current_user.weaknesses_genre_id ? "20exp" : "10exp" %></p>
              </div>
            <% else %>
              <div>モンスターが見つかりません。</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="task-section__right">
    <div class="chat-area">
      <%= render 'messages/show', {task: task, message: message} %>
    </div>
    <div class="action-area">
      <div class="action-area--left">
        <%= form_with model: task, url: change_progress_path, remote: true do |f| %>
        <%= f.hidden_field :progress, value: "完了" %>
          <% if task.progress == "完了" %>
            <%= f.submit "実施済み", class: "action-area__complete-btn--disabled" %>
          <% else %>
            <%= f.submit "タスクを完了する", class: "action-area__complete-btn" %>
          <% end %>
      <% end %>
      </div>
      <div class="action-area--right">
        <% unless task.progress == "完了" %>
          <% if task.progress == "未実施" %>
            <%= form_with model: task, url: change_progress_path, remote: true do |f| %>
              <%= f.hidden_field :progress, value: "保留" %>
              <%= f.submit "保留", class: "action-area__keep-btn" %>
            <% end %>
          <% else %>
            <%= form_with model: task, url: change_progress_path, remote: true do |f| %>
              <%= f.hidden_field :progress, value: "未実施" %>
              <%= f.submit "未実施へ戻す", class: "action-area__keep-btn" %>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to "削除", task_path(task), method: :delete, class: "action-area__delete-btn" %>
        <%= link_to "一覧に戻る", tasks_path, class: "action-area__back-btn" %>
      </div>
    </div>
  </div>
</div>