<div class="task-section">
  <div class="task-section__left">

    <div class="wrap">
      <ul id="tab-menu">
        <li><a href="#tab1" class="active">タスク内容</a></li>
        <li><a href="#tab2" class="">モンスター</a></li>
      </ul>

      <div id="tab-contents">
        <div id="tab1" class="tab">
          <div class="task-unit">
            <div class="task-unit__items">
              <div class="task-unit__item">ジャンル：<%= task.genre.name %></div>
              <div class="task-unit__item">予定：<%= task.due_date.strftime("%m月%d日 %H:%M") %></div>
              <% if task.progress != "完了" %>
                <div class="task-unit__item"><%= link_to "編集", edit_task_path(task), class: "task-unit__btn" %></div>
              <% end %>
            </div>
            <div class="task-unit__body"><%= task.body %></div>
          </div>
        </div>

        <div id="tab2" class="tab">
          <div class="task-monster">
            <div class="task-monster__visual-area">
              <%= attachment_image_tag task.monster, :image, fallback: 'noimage-760x460.png', class: "task-monster__visual-area--img" %>
            </div>
            <div class="task-monster__heading">
              <span class="task-monster__heading--large"><%= task.monster.name %></span>
              <span>があらわれた！</span>
            </div>
            <div class="task-monster__text">
              <%= task.monster.memo %>
            </div>
            <div class="task-monster__lead">
              <p>獲得予想経験値: <%= task.monster.genre_id == current_user.weaknesses_genre_id ? "20exp" : "10exp" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="task-section__right">
    <div class="chat-area">
      <%= render 'messages/show', {task: task, message: message} %>
    </div>
    <div class="action-area">
      <%= form_with model: task, url: task_path, remote: true do |f| %>
        <%= f.hidden_field :progress, value: "完了" %>
          <% if task.progress == "完了" %>
            <%= f.submit "実施済み", class: "action-area__complete-btn--disabled" %>
          <% else %>
            <%= f.submit "タスクを完了する", class: "action-area__complete-btn" %>
          <% end %>
      <% end %>
      <div class="action-area__link-group">
        <%= link_to "削除", task_path(task), method: :delete, class: "action-area__link-group--delete" %>
        <%= link_to "一覧に戻る", tasks_path, class: "action-area__link-group--back" %>
      </div>
    </div>
  </div>
</div>