<div class="main-container">

  <%= link_to "新規タスク作成", new_task_path %>

  <h1>タスク一覧</h1>
  <div>
    <% @tasks.each do |task| %>
      <div class="task-card">
        ジャンル：<%= task.genre.name %>
        <span class="task-card__date">予定：<%= task.due_date.strftime("%m月%d日 %H:%M") %></span><br>
        <div class="task-card__body"><%= task.body %></div>
        <span class="task-card__progress"><%= task.progress %></span>
        <%= link_to "詳細", task_path(task.id), remote: true, class: 'task-card__link'%>
      </div>
    <% end %>
  </div>
</div>

<div id="mask" class="hidden"></div>
  <div id="modal" class="hidden">
    <p>モーダルウィンドウ<p>
  </div>