<div class="room-container">
  <div class="room-section">
    <div class="room-section__block">
      <h1 class="room-section__block__title">新規ルーム作成</h1>
      <div class="room-form-wrapper">
        <%= form_with model: @room, local: true do |f| %>
        <div class="room-form-wrapper__form-group">
          <div class="room-form-wrapper__form-group__label"><%= f.label :name, 'ルーム名' %></div>
          <div class="room-form-wrapper__form-group__field"><%= f.text_field :name %></div>
          <div class="room-form-wrapper__form-group__label"><%= f.label :password, 'パスワード' %></div>
          <div class="room-form-wrapper__form-group__field"><%= f.text_field :password %></div>
          <div class="room-form-wrapper__form-group">
            <%= f.submit '新規ルーム作成', class: "room-form-wrapper__form-group__btn" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="room-section__block">
      <h1 class="room-section__block__title">ルーム検索</h1>
      <div class="room-form-wrapper">
        <%= form_with url: room_search_path, method: :get, local: true do |f| %>
        <div class="room-form-wrapper__form-group">
          <div class="room-form-wrapper__form-group__label"><%= f.label :room_search, 'ルームID' %></div>
          <div class="room-form-wrapper__form-group__field"><%= f.text_field :room_search %></div>
          <div class="room-form-wrapper__form-group">
            <%= f.submit "検索", class: "room-form-wrapper__form-group__btn" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>